body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  position: relative;
}

.container {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

#visualization {
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 20px;
}

#visualization h1 {
  text-align: center;
  margin-bottom: 20px;
}

#visualization .chart-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; 
}

#visualization .chart-container {
  width: 45%;
  height: 400px; 
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1px;
}

th, td {
  border: 2px solid #444;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

th {
  background-color: #333;
  color: #ffffff;
  font-weight: bold;
}

body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

body.dark-mode .container,
body.dark-mode table {
  background-color: #2a2a2a;
}

body.dark-mode th, 
body.dark-mode td {
  border-color: #444;
  color: #ffffff;
}

body.dark-mode th {
  background-color: #333;
}

body.light-mode {
  background-color: #f4f4f4;
  color: #333;
}

body.light-mode .container,
body.light-mode table {
  background-color: #ffffff;
}

body.light-mode th, 
body.light-mode td {
  border-color: #ddd;
  color: #333;
}

body.light-mode th {
  background-color: #f2f2f2;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav ul li a.active {
  background-color: #4CAF50;
}

nav ul li a:hover:not(.active) {
  background-color: #111;
}

#dark-mode-toggle {
  position: absolute;
  top: 33px;
  right: 25px;
  z-index: 100;
}

.expired-row {
  background-color: #c73131;
}

/* Common styles for both modes */
.chart-legend {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.chart-descriptions {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 20px;
}

.chart-descriptions span {
  text-align: center;
  width: 50%;
}

.chart-row {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.chart-container {
  flex: 1;
  padding: 20px;
}

/* Dark mode styles */
body.dark-mode .chart-legend {
  color: #ffffff;
}

/* Light mode styles */
body.light-mode .chart-legend {
  color: #333333;
}

.table-container th, 
.table-container td {
  color: #333333; /* Default light mode color */
}

body.dark-mode .table-container th,
body.dark-mode .table-container td {
  color: #ffffff; /* Dark mode color */
}
